<div data-page="login-screen-embedded" class="page">
  <!-- <div class="page-content login-screen-content" style="background-image: url(assets/img/login.jpg);"> -->
  <div class="page-content login-screen-content" style="margin-top:21%">
    <div style="border-radius: 17px;border: 1px solid #dddddd;width:89%; margin:auto">
      <div  style="margin-top: 30px;" class="content-block">
        <div class="x_logo_block_login">
           <img src="assets/img/lims.png" style="    background: #fff;border: 12px solid white;">
          </div>
      </div>

      <form ng-submit="signIn()">
        <div class="list-block inputs-list">
          <ul>
            <li class="item-content">
              <div class="item-inner"> 
                <div class="item-title label" style="color: #333;font-size: 19px;">E-Mail</div>
                <div class="item-input">
                  <input type="text" name="username" ng-model="data.username" placeholder="Enter your email"/>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner"> 
                <div class="item-title label" style="color: #333;font-size: 19px;">Password</div>
                <div class="item-input">
                  <input type="password" name="password" ng-model="data.password" placeholder="Enter your password"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-block">
          <button class="button button-big no-ripple" type="submit" style="margin: auto;background-color:#efefef;color: #000;">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>


<style type="text/css">
input {
      border-bottom: 1px solid #e3a703 !important;
}


</style>